<form #form="ngForm" (ngSubmit)="onAddObject()">
  <div class="container">
    <h1>Add an auction</h1>
    <p>Please fill in this form to create an auction.</p>
    <hr>

    <label id="name"><b>Name</b></label>
    <input type="text" class="form-control" placeholder="Enter name" name="text" [(ngModel)]="_name" (keydown.enter)="onChangeName()" (keydown.Tab)="onChangeName()" (focusout)="onChangeName()">

    <div class="alert alert-danger" [hidden]="_isHiddenName">Enter a valid name</div>



    <label id="description"><b>Description</b></label>
    <input type="text" class="form-control" rows="3" placeholder="Please put a description" [(ngModel)]="_description" name="description">


    <label id="price"><b>Price</b></label>
    <input type="number" class="form-control" [(ngModel)]="_price"
           placeholder="Enter Price"
           name="price"
           (keydown.enter)="onChangePrice()" (keydown.Tab)="onChangePrice()" (focusout)="onChangePrice()">

    <div class="alert alert-danger" [hidden]="_isHiddenPrice">Please enter a valid price</div>

    <!-- faire un ngfor avec un select option avec toutes les catégories-->
    <label id="price2"><b>Category</b></label>

    <select class=form-control (change)="onSelect($event.target.value)">
      <option value="default" selected disabled hidden>Choose here</option>
      <option value=Collection>Collection</option>
      <option value=Art>Art</option>
      <option value=Other>Other</option>
    </select>

    <label>TEST : {{_cat}}</label>
    <hr>

      <button type="submit" class="btn btn-secondary btn-lg active">Sell Object</button>

  </div>
</form>
