<h1>{{ _member$.username }}</h1>

<ul>
  <li><strong>Username : </strong> {{ _member$.username }}</li>
  <li><strong>Email : </strong> {{ _member$.emailUser }}</li>
  <li><strong>Password : </strong> {{ _member$.userPwd }}</li>
  <li><strong>Admin ? : </strong>{{_member$.userAdmin}}</li>
 <a routerLink="../../member" [class.activated]="currentUrl == '/member'">
   <button class="btn btn-secondary btn-lg active" (click)="deleteMember()">Delete</button>
 </a>

  <button class="btn btn-secondary btn-lg active"  (click)="upgradeModo()">Upgrade Moderator</button>
  <button class="btn btn-secondary btn-lg active"  (click)="deleteModo()">Delete Moderator</button>

</ul>
