<form>
  <div class="container">
    <h1>Login</h1>
    <hr>

    <label id="username"><b>Username</b></label>
    <input type="text" placeholder="Enter your username" name="username" [(ngModel)]="_username" required>

    <label id="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="_pwd" required>
    <hr>

    <a routerLink="" [class.activated]="currentUrl == '/'">
    <button type="submit" class="loginBtn">Login</button>
    </a>



  </div>

</form>
