<nav>
  <ul>

    <li routerLink="login" [class.activated]="currentUrl == '/login'" >
      <a>
        <i class="material-icons">person</i>
      </a>
    </li>



    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">person_add</i>
      </a>
    </li>

    <li>
      <a routerLink="auctioned-object" [class.activated]="_currentUrl == '/auctioned-object'">
        <i class="material-icons">import_contacts</i>
      </a>
    </li>

    <li (click)="adminAccess()">
      <a>
        <i class="material-icons">supervisor_account</i>
      </a>
    </li>

    <li (click)="userAccess()">
      <a>
        <i class="material-icons">add_circle</i>
      </a>
    </li>

    <li routerLink="soldObject" [class.activated]="_currentUrl == '/soldObject'">
      <a>
        <i class="material-icons">poll</i>
      </a>
    </li>

  </ul>
</nav>
