<nav>
  <ul>

    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">vpn_key</i>
      </a>
    </li>

    <li>
      <a routerLink="auctioned-object" [class.activated]="_currentUrl == '/auctioned-object'">
        <i class="material-icons">import_contacts</i>
      </a>
    </li>

    <li (click)="adminAccess()">
      <a>
        <i class="material-icons">contacts</i>
      </a>
    </li>

    <li (click)="userAccess()">
      <a>
        <i class="material-icons">add_circle</i>
      </a>
    </li>

  </ul>
</nav>
